<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the home page 1+2</h1>
    <!-- EJS documentation theke EJS interpolation tags explore korbo -->
     <!-- It's used to make the html file dynamic -->
      <!-- Ai tag er vitorer sob kisu string a convert hibe -->
    <h3><%= 1+2 %></h3>
    <h3><%= "Sajidur Rahman".toUpperCase() %></h3>
    <h3><%= ["hello","Sajid","Sakib"][1] %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      debitis est sint corrupti necessitatibus quae molestias repudiandae
      placeat, error porro, sed fuga dicta. Iste dolore a eos aut, in obcaecati!
    </p>
    <button>Click me!</button>
  </body>
</html>
