section {
  margin-top: 100px;
}

div {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: red;
  border: 2px solid black;
  margin: 10px;
}
div:nth-of-type(2n) {
  background-color: blue;
}
div:nth-last-of-type(3n) {
  background-color: green;
}

/* Transform */

/* Rotate(ghurabe) */
/* Scale(size will increase or decrease w.r.t the main size) */
/* Translate(Movement towards X or Y axis) */
/* Skew(changing shape-content soho) */

#one {
  /* transform: rotate(90deg); */
  transform: rotate(-45deg);
}
#two {
  /* x and y both direction ai 2x hoye jabe */

  /* transform: scale(2); */

  /* transform: scaleX(0.5);
  transform: scaleY(2); */

  /* shorthand(same as before) */
  transform: scale(0.5, 2);
}

#three {
  transform: translateX(100px);
  transform: translateY(300px);
  /* Shorthand */
  /* transform: translate(100px,100px); */
}

#four {
  transform: skew(-30deg);
}

#five{
    transform: rotate(30deg) translateX(150px);
}